<div class="people">
    <div class="person">
      <a href="https://zekun-li.github.io/" align="middle">
        <div class="img-rect">
          <img src="assets/img/zekun.png">
        </div>
        Zekun Li
      </a>
    </div>
    <div class="person">
      <a href="https://weiweiduan.github.io/" align="middle">
        <div class="img-rect">
          <img src="assets/img/weiwei.png">
        </div>
      Weiwei Duan
      </a>
    </div>
    <div class="person">
      <a href="https://linyijun.github.io/" align="middle">
        <div class="img-rect">
          <img src="assets/img/Yijun.png">
        </div>        Yijun Li
      </a>
    </div>
    <div class="person">
        <!-- <a href="https://linyijun.github.io/" align="middle"> -->
          <div class="img-rect">
            <img src="assets/img/Theresa.png">
          </div>
          Theresa Chen
        <!-- </a> -->
    </div>
    <div class="person">
        <a href="https://leejejang.github.io/" align="middle">
          <div class="img-rect">
            <img src="assets/img/Leeje.png">
          </div>
            Leeje Jang
        </a>
    </div>


    <div class="person">
        <a href="https://fandel-lin.github.io/" align="middle">
          <div class="img-rect">
            <img src="assets/img/Lin.png">
          </div>          
          Fandel Lin
        </a>
    </div>

    <div class="person">
      <a href="https://shbita.com/" align="middle">
        <div class="img-rect">
          <img src="assets/img/Basel.png">
        </div>
                Basel Shbita
      </a>
    </div>
    <div class="person">
      <a href="https://jina-kim.github.io/" align="middle">
        <div class="img-rect">
          <img src="assets/img/Jina.png">
        </div>        Jina Kim
      </a>
    </div>


    <div class="person">
      <div class="img-rect">
        <img src="assets/img/Jiyoon.png">
      </div>      Jiyoon Pyo
    </div>

    <div class="person">
      <div class="img-rect">
        <img src="assets/img/jinwei.png">
      </div>      Jinwei Zhou
    </div>
    
    <div class="person">
    <a href="https://www.linkedin.com/in/namrata-sharma-b97681143" align="middle">
      <div class="img-rect">
        <img src="assets/img/namrata.jpg">
      </div>      Namrata Sharma
    </a>
    </div>

    <div class="person">
    <a href="https://binh-vu.github.io/" align="middle">
      <div class="img-rect">
        <img src="assets/img/binh.jpg">
      </div>      Binh Vu
    </a>
    </div>

    <div class="person">
      <div class="img-rect">
        <img src="assets/img/goran.jpg">
      </div>        Goran Muric
    </div>

    <div class="person">
      <div class="img-rect">
        <img src="assets/img/no_pic.png">
      </div>      Hengkang Wang
    </div>
    
  </div>
