<div class="people">
    <div class="person">
      <a href="https://yaoyichi.github.io/" align="middle">
        <div class="img-rect">

        <img src="assets/img/yaoyi.png">
        </div>
        Yao-Yi Chiang 
      </a>
        UMN PI
    </div>
    <div class="person">
      <a href="https://usc-isi-i2.github.io/knoblock/" align="middle">
        <div class="img-rect">
          <img src="assets/img/Knoblock.png">
        </div>
        Craig Knoblock
      </a>
        USC PI
    </div>
    <div class="person">
      <a href="https://www.linkedin.com/in/steve-minton-483a" align="middle">
        <div class="img-rect">
        <img src="assets/img/steve.png">
        </div>
      Steve Minton 
      </a>
      Inferlink PI
    </div>
    <div class="person">
      <a href="https://sunju.org/" align="middle">
        <div class="img-rect">

        <img src="assets/img/Ju_S.png">
        </div>
        Ju Sun 
      </a>
        UMN Co-PI
    </div>


  </div>
